/*/ 
This is a static file, it will be served as-is. 
After updating, manually reload the browser to see changes 
/*/
body {
  font-family: Georgia, serif;
}
p {
  line-height: 1.75em;
}
span {
  color: darkblue;
}
ul {
  line-height: 1.5em;
}
tt {
  background-color: #eee;
  padding: 0.25em 0.5em;
  color: darkred;
}
hr {
  margin: 2em 0;
}
