body {
  background-color: lightgray;
  color: #333;
  font-family: monospace;
}

.info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app {
  box-sizing: border-box;
}

tt {
  color: maroon;
}
