body {
  font-family: monospace;
  background-color: #f4f4f4;
}
tt {
  color: maroon;
}
.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
